<div>
    <h1>actualización products en tiempo real</h1>
    
    <section id="productContainer">

        <p id="productsContent"></p>

    </section>

    
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>